<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Data science - unidade VI</title>
<body>
<div class="table-box">
    <h2>Ciência de dados - unidade VI</h2>
    <p>Pesquisa e avaliação de dados sobre a festa de final de ano da empresa</p>
    <div id="by-gender">
        <div class="table-title">Tabela 1: Distribuição de frequência da variável sexo</div>
        <table>
            <thead>
                <tr>
                    <th v-for="header in tableHeaders" v-html="header"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in tableRows">
                    <td v-for="rowData in row" v-html="rowData"></td>
                </tr>
            </tbody>
        </table>
        <br>
        <canvas ref="chart" width="900" height="200"></canvas>
    </div>

    <br>
    <hr>
    <br>

    <div id="by-age">
        <div class="table-title">Tabela 2: Distribuição de frequência da variável idade</div>
        <table>
            <thead>
            <tr>
                <th v-for="header in tableHeaders" v-html="header"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in tableRows">
                <td v-for="rowData in row" v-html="rowData"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <canvas ref="chart" width="900" height="200"></canvas>
    </div>

    <br>

    <div id="by-degree">
        <div class="table-title">Tabela 3: Distribuição de frequência do grau de instrução</div>
        <table>
            <thead>
            <tr>
                <th v-for="header in tableHeaders" v-html="header"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in tableRows">
                <td v-for="rowData in row" v-html="rowData"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <canvas ref="chart" width="900" height="200"></canvas>
    </div>

    <br>

    <div id="by-cost">
        <div class="table-title">Tabela 4: Distribuição de frequência custo da festa</div>
        <table>
            <thead>
            <tr>
                <th v-for="header in tableHeaders" v-html="header"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in tableRows">
                <td v-for="rowData in row" v-html="rowData"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <canvas ref="chart" width="900" height="200"></canvas>
    </div>

    <br>

    <div id="by-where">
        <div class="table-title">Tabela 5: Distribuição de frequência do local/período da festa</div>
        <table>
            <thead>
            <tr>
                <th v-for="header in tableHeaders" v-html="header"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in tableRows">
                <td v-for="rowData in row" v-html="rowData"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <canvas ref="chart" width="900" height="200"></canvas>
    </div>

    <br>

    <div id="by-food">
        <div class="table-title">Tabela 6: Distribuição de frequência da preferência por comida</div>
        <table>
            <thead>
            <tr>
                <th v-for="header in tableHeaders" v-html="header"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in tableRows">
                <td v-for="rowData in row" v-html="rowData"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <canvas ref="chart" width="900" height="200"></canvas>
    </div>

    <br>

    <div id="by-music">
        <div class="table-title">Tabela 7: Distribuição de frequência da preferência por música</div>
        <table>
            <thead>
            <tr>
                <th v-for="header in tableHeaders" v-html="header"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in tableRows">
                <td v-for="rowData in row" v-html="rowData"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <canvas ref="chart" width="900" height="200"></canvas>
    </div>

    <br>

    <div id="by-like-dance">
        <div class="table-title">Tabela 8: Distribuição de frequência gosto por dança</div>
        <table>
            <thead>
            <tr>
                <th v-for="header in tableHeaders" v-html="header"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in tableRows">
                <td v-for="rowData in row" v-html="rowData"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <canvas ref="chart" width="900" height="200"></canvas>
    </div>

    <h1>Análise e interpretação dos dados</h1>
    <p>
        Podemos avaliar que os funcionários estão pouco dispostos a gastar dinheiro pelo festa de final de ano, no
        máximo R$40,00, por isso a grande maioria prefere uma chácara/sítio, que provavelmente contam com que a empresa
        custeie esse local.
    </p>
    <p>
        O ideal para a comida é que seja self-service, como self-service tem uma grande variedade, podemos focar em
        massas e carnes.
    </p>
    <p>
        Em relação a música, a grande maioria não tem uma preferência, podemos tocar todas as músicas, mas podemos também
        focar em tocar mais rock e eletrônico.
    </p>
    <p>
        Aparentemente, as pessoas preferem alguma atividade diferente de dançar, talvez seja necessário mais uma pesquisa
        para saber qual seria o entretenimento ideal para esta festa.
    </p>
    <h1>Observações</h1>
    <p>Este trabalho foi desenvolvido em Javascript, utilizando bibliotecas VueJS e Charts.JS</p>
    <p>O código fonte é livre e está disponível no
        <a href="https://github.com/felipewww/data_science_1" target="_blank">github.com/felipewww/data_science_1</a>
    </p>
</div>
<!--    <canvas id="myChart" width="400" height="400"></canvas>-->
    <script src="question.js"></script>
    <script src="script.js"></script>
    <script src="byAge.js"></script>
    <script src="byGender.js"></script>
    <script src="byDegree.js"></script>
    <script src="byCost.js"></script>
    <script src="byWhere.js"></script>
    <script src="byFood.js"></script>
    <script src="byMusic.js"></script>
    <script src="byLikeDance.js"></script>
</body>
</html>