<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Title</title>
<body>
<div class="table-box">
    <div id="by-gender">
        <div class="table-title">Tabela 1: Distribuição de frequência da variável sexo</div>
        <table>
            <thead>
                <tr>
                    <th v-for="header in tableHeaders" v-html="header"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in tableRows">
                    <td v-for="rowData in row" v-html="rowData"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--    <canvas id="myChart" width="400" height="400"></canvas>-->
    <script src="question.js"></script>
    <script src="script.js"></script>
</body>
</html>